[Unit]
Description=consul
After=network-online.target

[Service]
Type=notify
Slice=consul.slice
EnvironmentFile=/var/packages/consul/var/env.sh
ExecStart=/var/packages/consul/target/package/bin/consul agent -config-dir "${CONSUL_SHARE_DIR}/etc/consul.d/"
ExecReload=/bin/kill --signal HUP $MAINPID
Restart=on-failure
KillMode=process
KillSignal=SIGTERM
RestartSec=5
LimitNOFILE=65536
